.MainCardWithImage,
.MainCardWithIcon {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-basis: calc(50% - 5px);
    min-width: 272px;
    border-radius: 30px;
    text-decoration: none;
    background: #ECECEC;
    border: 1px solid #ECECEC;
    overflow: hidden;
}

.MainCardWithImage {
    padding: 50px 50px 48px 50px;
}

.MainCardWithIcon__icon-wrapper {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #fff;
    margin-top: 24px;
}

.MainCardWithIcon {
    display: flex;
    gap: 24px;
    padding: 40px;
}

.MainCardWithImage__content {
    max-width: 62%;
}

.MainCardWithIcon__content{
    max-width: 100%;
}

.MainCard__title {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    line-height: 1.1;
    margin: 0 0 20px 0;
}

.MainCard__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    color: #777;
    margin: 0;
}

.MainCardWithIcon__icon {
    max-width: 24px;
    max-height: 24px;
}

.MainCardWithImage__image {
    position: absolute;
    bottom: -54px;
    right: -60px;
    transform: rotate(-12.28deg);
    max-width: 36%;
}

@media (max-width: 1200px) {
    .MainCardWithImage__content {
        max-width: 70%;
    }
}

@media (max-width: 960px) {
    .MainCardWithImage {
        padding: 24px;
    }

    .MainCardWithImage__image {
        bottom: -8.50%;
        right: -9.5%;
    }

    .MainCardWithIcon {
        flex-wrap: wrap;
        padding: 24px;
    }

    .MainCardWithIcon__icon-wrapper {
        margin-top: 0;
    }
}





