.rateCard {
  background-color: #ffe585;
  min-width: 340px;
  max-height: 720px;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rateCardTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 20px;
}

.rateCardTextBlocks {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  flex-grow: 1;
}

.rateCardTextBlock {
  display: flex;
}

.rateCardText {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
}

@media (min-width: 770px) {
  .rateCard {
    width: 300px;
    height: 500px;
  }

  .cardBtnText {
    font-family: 'Montserrat', sans-serif;
    margin-left: 5%;
    color: #000000;
  }

  .cardButton {
    background-color: #ffffff;
    border-radius: 40px;
    margin-top: auto;
    width: 120px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .cardBtnText {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }

  .cardBtnIcon {
    display: none;
  }

  .northEastIcon {
    color: #292d32;
    position: relative;
    top: 12px;
    left: 14px;
  }
}

@media (min-width: 820px) {
  .rateCard {
    width: 360px;
  }
}

@media (min-width: 900px) {
  .rateCard {
    width: 420px;
    height: 720px;
  }

  .rateCardTitle {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .cardButton {
    display: flex;
    width: 337px;
    padding: 5px;
  }

  .cardBtnText {
    margin-left: auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  .cardBtnIcon {
    width: 50px;
    height: 50px;
    background: #ffe585;
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
  }
}
