.ProtentialEmployeesPageCard__container {
    box-sizing: border-box;
    max-width: 1311px;
    padding: 0 15px;
    color: #8E8E8E;
    line-height: 1.25;
}

.ProtentialEmployeesPageCard__name {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    color: #000;
}

.ProtentialEmployeesPageCard__wrapper {
    width: 120px;
    height: 120px;
    background: #FFFF;
    border-radius: 50px;
}

.ProtentialEmployeesPageCard__button {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: #000;
    background: #FFFF;
    border-radius: 30px;
}