.about-us-main-title {
  font-size: 46px;
}

.about-us-block-title-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
}

.about-us-title {
  display: block;
  margin-bottom: 10px;
}

.about-us-block-text {
  color: #777777;
}

.about-us-block-title-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #000;
}
