.cardMain {
  position: relative;
  display: flex;
  border-radius: 5px;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 10px;
  background: none;
}

.cardIconWrapper {
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.cardIcon {
  width: 100%;
  height: 100%;
  align-items: center;
}

.cardTitle {
  font-size: 17px;
  font-weight: 400;
  color: #000;
  margin: 0;
}

.cardDescription {
  display: none;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}

@media (min-width: 600px) {
  .cardMain {
    display: flex;
    border-radius: 30px;
    border: 1px solid #ececec;
    padding: 50px 269px 48px 50px;
  }

  .cardContent {
    height: 100%;
  }

  .cardTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    min-width: 287px;
    color: #000;
  }

  .cardDescription {
    display: block;
    min-width: 53%;
  }

  .cardIconWrapper {
    width: 54px;
    height: 54px;
    margin-right: 24px;
  }
}
