.VacancyBlock__flex {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 10px;
  margin-bottom: 15px;
  justify-content: center;
}

.VacancyBlock__buttonWrapper {
  text-align: center;
}

.VacancyBlock__button {
  display: block;
  border: none;
  border-radius: 30px;
  padding: 26px 0;
  background: #0866ff;
  color: #ffffff;
  width: 100%;
  text-decoration: none;
}

.VacancyBlock__button:hover {
  color: #ffffff;
}

@media screen and (max-width: 949px) {
  .VacancyBlock__flex {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 640px) {
  .VacancyBlock__flex {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

.vacancy_block_title {
	font-weight: 700;
	font-size: 46px;
}

.vacancy_block_button {
	width: 100%;
	background-color: #0866ff;
	color: #ffffff;
	border-color: transparent;
	padding: 25px;
	border-radius: 50px;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}