@media screen and (min-width: 830px) {
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .navigation-big-screen {
    display: block;
  }

  .header-logo-wrapper {
    flex-basis: 0%;
  }

  .main-mav-web {
    display: flex;
    list-style: none;
  }

  .main-nav-login {
    display: none;
  }

  .main-nav-item {
    margin: 0 10px;
    padding: 0 5px;
  }

  .main-nav-close {
    display: none;
  }

  .main-nav-open {
    display: none;
  }

  .burger-button {
    display: none;
  }

  .main-nav-list {
    display: flex;
  }

  .login {
    display: block;
  }
}

@media screen and (min-width: 650px) {
  .main-nav-list {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 370px) {
  .login {
    font-size: 15px;
    padding: 0;
  }

  .login-close {
    height: auto;
  }
}
