.userMenu {
  display: none;
}

@media screen and (min-width: 650px) {
  .userMenu {
    display: flex;
    align-items: center;
  }

  div.userAvatar {
    display: none;
  }

  .main-nav-list {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1100px) {
  div.userMenu {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  div.userAvatar {
    display: flex;
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  nav.navigation-big-screen {
    display: block;
  }

  .header-logo-wrapper {
    flex-basis: 0;
  }

  ul.main-mav-web {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .userName {
    display: none;
  }

  a.main-nav-link {
    font-size: 14px;
  }

  .login-open {
    font-size: 14px;
  }

  .main-nav-login {
    display: none;
  }

  .main-nav-item {
    margin: 0 10px;
    padding: 0 5px;
  }

  .main-nav-close {
    display: none;
  }

  .main-nav-open {
    display: none;
  }

  .burger-button {
    display: none;
  }

  .main-nav-list {
    display: flex;
  }

  .login {
    display: block;
  }
}

@media screen and (min-width: 1400px) {
  a.main-nav-link {
    font-size: 16px;
  }
  .login-open {
    font-size: 16px;
  }

  .userName {
    display: block;
  }
}


