.main-nav-link {
  color: #a9a9a9;

}

.navigation-big-screen {
  display: none;
}

.header-logo-wrapper {
  display: flex;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 9px;
}

.main-nav-link:hover {
  color: #000000;
  text-shadow:
    0 0 1px #333,
    0 0 1px #333;
}

.main-nav-open {
  display: block;
  order: 3;
  flex-basis: 100%;
}

.main-nav-list {
  list-style: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.7s ease;
  padding: 0;
}

.main-mav-web {
  display: none;
}

.main-nav-item {
  margin-top: 10px;
  padding: 0 10px;
}

.main-nav-link {
	white-space: nowrap;
}

.main-nav-open .main-nav-list {
  max-height: 200px;
}

.main-nav-close .main-nav-list {
  max-height: 0;
}

.main-nav-close {
  overflow: hidden;
  order: 3;
  flex-basis: 100%;
}

.close {
  background: none;
  border: none;
  cursor: pointer;
}

.login {
  color: #000000;
  cursor: pointer;
  font-size: 12px;
  overflow: hidden;
  transition: max-height 0.7s ease;
  padding: 0 10px;
}

.login-close {
  height: 0;
}

.login:hover {
  color: #ffe585;
}

.burger-button {
  margin-left: auto;
  background-image: url('../images/burger-menu.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: transparent;
}
