.interested-vacancies-block {
	margin-bottom: 100px;
	width: 100%;
}

.interested-vacancies-title {
	font-size: 36px;
	margin: 0 0 50px 0;
}

.logo {
	margin-top: 30px;
}

.cards-div {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 860px;
	margin: 0 auto;
}

.card-vacancies {
	max-width: 420px;
	padding: 40px;
	box-sizing: border-box;
	gap: 30px;
	margin: 5px;
}