.labelForField {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #000000;
  margin-bottom: 15px;
  display: inline-block;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.inputContainer {
  display: flex;
  flex-direction: column;
}

.workExpWrapperField {
  font-family: 'Montserrat', sans-serif;
  border: #e9e9e9 solid 2px;
  display: block;
  color: #8E8E8E;
  font-weight: 500;
  font-size: 16px;
  border-radius: 35px;
  line-height: 20px;
  padding-left: 30px;
  width: 250px;
  height: 70px;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.workExpYearField {
  width: 150px;
}

.applicantField {
  font-family: 'Montserrat', sans-serif;
  border: #e9e9e9 solid 2px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  border-radius: 35px;
  line-height: 20px;
  padding-left: 30px;
  width: 310px;
  height: 70px;
  background-color: #ffffff;
  margin-bottom: 10px;
  padding-right: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #333;
}

textarea.applicantField {
  height: 360px;
  width: 310px;
  padding: 20px;
}

button.sendBtn {
  min-width: 300px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  background-color: #0866ff;
  border-radius: 30px;
  height: 70px;
  margin-top: 50px;
  text-transform: lowercase;
}

.workExpWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .workExpWrapperField {
    width: 350px;
  }

  .applicantField {
    width: 550px;
  }

  textarea.applicantField {
    width: 550px;
  }
}

@media (min-width: 800px) {
  .workExpWrapper {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .workExpWrapperField {
    width: 350px;
  }

  .applicantField {
    width: 650px;
  }

  textarea.applicantField {
    width: 650px;
  }

  button.sendBtn {
    width: 650px;
  }
}

@media (min-width: 1100px) {
  .applicantFormContainer {
    background-color: #ffffff;
    border-radius: 30px;
    width: 850px;
    padding: 40px;
  }
}

@media (min-width: 1400px) {
  .applicantFormContainer {
    display: flex;
    width: 850px;
    padding: 40px;
  }

  div.inputContainer {
    flex-direction: row;
  }

  .formContainer {
    align-items: start;
  }

  .workExpWrapperField {
    padding-left: 30px;
    width: 380px;
    margin-right: 10px;
  }

  .applicantField {
    padding-left: 30px;
    width: 380px;
    margin-right: 10px;
  }

  .applicantField:focus {
    outline: none;
    border-color: #0866ff;
  }

  input[type='date'] {
    width: 205px;
  }

  textarea.applicantField {
    width: 770px;
    height: 330px;
  }

  button.sendBtn {
    width: 770px;
    font-weight: 600;
    font-size: 20px;
    height: 70px;
    margin-top: 50px;
  }

  textarea.applicantField {
    padding-top: 20px;
    padding-right: 20px;
  }
}
